@import "../../static/less/variables.less";
@import "../../static/less/vender.less";


.select {
	position: relative;
	font-size: 0;
	.select-label {
		display: inline-block;
		margin-bottom: 18px;
	}
	.select-container {
		position: relative;
	}
	&.warning {
		.select-btn {
			border-color: @red;
		}
		.input-item .input {
			border-color: @red;
		}
	}
	&.horizontal {
		.select-label {
			width: 56px;
			font-size: 14px;
			text-align: right;
			margin-bottom: 0;
			margin-right: 14px;
			vertical-align: top;
		}
		.select-container {
			display: inline-block;
		}
	}
	.editable-input{
	  .input-item{
		width: 100%;
		display: inline-block;
		margin-bottom: 0;
	  }
	}
	.select-btn {
		position: relative;
		width: 100%;
		height: @input-h;
		line-height: @input-h;
		z-index: 1;
	    padding-right: 30px;
	    padding-left: 13px;
	    color: #333;
		font-size: @fs-14;
		vertical-align: middle;
		border: 1px solid @input-border-color;
	    border-radius: 2px;
		background-color: @white;
	    outline: 0;
		overflow: hidden;
		text-align: left;
		> i {
			position: absolute;
			right: 10px;
			top: 17px;
			z-index: 2;
			color: @fc-9;
			.rotate(0deg);
			.transition(.3s);
		}
		.placeholder {
			color: #b5b5b5;
		}
		.selected-item {
			position: relative;
			display: inline-block;
			margin-right: 20px;
			&:after {
				position: absolute;
				content: '×';
				top: 0;
				right: -12px;
				display: block;
				font-size: 10px;
			}
			&:hover {
				color: @green;
				&:after {
					display: block;
					color: @green;
				}
			}
		}
	}
	.select-menu {
		position: absolute;
		left: 0;
		top: 90%;
		width: 100%;
		border: 1px solid #dce4e6;
		border-radius: 2px;
		background-color: #fff;
		overflow: hidden;
		.transition(all .3s ease-out);
		// .box-shadow(1px 0px 3px rgba(0, 0, 0, 0.08));
		visibility: hidden;
		opacity: 0;
		z-index: 99;
		li {
			display: block;
			padding-left: 13px;
			padding-right: 13px;
			height: 36px;
			width: 100%;
			line-height: 36px;
			background-color: @white;
			color: @fc-3;
			font-size: @fs-14;
			cursor: pointer;
			&:hover ,&.active {
				color: @green;
				background-color: #f4f4f4;
			}
		}
	}

	&.active {
		.select-menu {
			visibility: visible;
			opacity: 1;
			top: 105%;
		}
		.icon-arrow-down {
			.rotate(180deg);
		}
	}
	.error-tips {
		position: absolute;
		left: 0;
		top: 104%;
		display: block;
		color: @red;
		font-size: @fs-14;
		line-height: 1;
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height .2s ease;
			 -o-transition: max-height .2s ease;
				transition: max-height .2s ease;
		em {
			position: relative;
			display: inline-block;
			width: 16px;
			height: 16px;
			line-height: 16px;
			background-color: @red;
			color: @white;
			border-radius: 50%;
			text-align: center;
			font-weight: bold;
			margin-right: 3px;
			vertical-align: bottom;
			&::after {
				position: absolute;
				content: '!';
				left: 6px;
				top: 1px;
				font-size: @fs-12;
				color: @white;
				text-align: center;
				line-height: 1;
			}
		}
	}
}
