@import "../common/variables.less";
.checkbox {
	position: relative;
	display: block;
	font-size: @fs-14;
	line-height: 1;
	margin-right: 30px;
	color: @fc-3;
	&.inline {
		display: inline-block;
	}
	input {
		width: 14px;
	    opacity: 0;
	    height: 14px;
	    margin-right: 5px;
		& + i {
			position: absolute;
		    display: inline-block;
		    left: 0;
		    top: 0;
		    color: #999999;
		    margin-right: 5px;
		}
		&:checked + i {
			color: @green;
		}
		&:disabled + i {
			color: @fc-c;
		}
	}
}
